@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #37352f;
  /* color: #fff;
  background-color: black; */
}

h1 {
  font-size: 2.6rem;
  letter-spacing: -0.13rem;
  font-weight: bold;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 3rem 7rem;
  margin-bottom: 4%;
}
header a {
  color: #fff;
}
.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo a {
  font-size: 1.3rem;
  font-weight: bold;
}
i.fab {
  color: #1db954;
  font-size: 5rem;
  margin-right: 5%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  max-width: 500px;
}

nav a {
  margin-left: 5%;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  height: 1rem;
}

nav a:hover {
  border-bottom: 2px solid #1db954;
}

/* Footer */
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1a1a1a;
  height: 10vh;
  text-align: center;
  color: #afafaf;
  font-size: 2rem;
  width: 100%;
  margin-top: 5rem;
}
.footLink {
  margin-right: 3%;
  position: relative;
}
.footIcon {
  color: #fff;
}
.hoverText {
  visibility: hidden;
  font-size: 1.5rem;
  width: 150%;
  background-color: #1a1a1a;
  border: 3px solid #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5% 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: -30%;
}
.footLink:hover .hoverText {
  visibility: visible;
}

/* Body ---- Landing page */
.landing-page {
  font-size: 1.1rem;
}
.description {
  padding: 0 10rem 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #efefef;
}
.description img {
  width: 20rem;
  height: 20rem;
  border-radius: 0.2rem;
}
.description p {
  line-height: 1.5rem;
  width: 60%;
}

.signup {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 3rem;
}
.signup p {
  width: 50%;
  line-height: 1.5rem;
  text-align: center;
}
.signup a {
  color: #fff;
  background-color: #1db954;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  margin-top: 5rem;
  box-shadow: 1px 2px 7px 3px #e6e6e6;
}
.signup a:hover {
  background-color: #37a866;
}

/* Body ---- About page */
.body-wrapper {
  padding: 0 15rem;
}
.info h1 {
  margin-bottom: 4%;
}
.info p {
  line-height: 1.2rem;
}

.people h3 {
  margin: 4% 0;
}
.indiv {
  width: 15vw;
  margin: 2% 5%;
  max-width: 260px;
}
.indiv .pic {
  height: 15vw;
  max-height: 260px;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 130px;
}
.indiv img {
  width: 16vw;
  max-width: 260px;
}
.indiv p {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 1.4rem;
}
.position-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
